@import url(http://fonts.googleapis.com/css?family=Lato:100,400);
 @import url('https://fonts.googleapis.com/css?family=Amatic+SC|Bad+Script|Merienda|Clicker Script|Stalemate|Amita');

header {
	background-image: url('../img/montgolfiere.jpg');
}

.navbar-custom .navbar-brand {
	color: #BC2F47;
	/*font-family: 'Merienda', cursive;
	font-style: italic;*/
}

/*#header-nav {
	margin-right: -190px;
	margin-top: 30px;
}
  #header-nav li {
  	  margin-top: 60px;
  }*/
  #header-nav li a{
  	  color: #BC2F47;
  	  font-family: 'Bad Script', cursive;
  	  text-transform: capitalize;
  	  font-size: 1.6em;
  }

header .intro-text {
	margin-bottom: 30px;
}
  header .intro-text .intro-heading {
  	  font-family: 'Amatic SC', cursive;
	  text-transform: capitalize;
	  font-size: 6.5em;
	  font-weight: lighter;
  }
  header .intro-text .intro-lead-in {
  	  font-family: 'Amatic SC', cursive;
  	  font-style: normal;
  	  letter-spacing: 5px;
  	  font-size: 3.2em;
  }

.fa-angle-double-down {
	  margin-top: 120px;
	  color: #C9324C;
}

.section-heading{
	font-family: 'Amatic SC', cursive;
	letter-spacing: 4px;
}
/*----------------------------------------------- PROFIL*/
.fa-circle{
	color: #4D3968;
}

#services {
	/*background: #F0E6FF;*/
	background: #B0C7D8;
}

/*----------------------------------------------- COMPETENCES */
#portfolio {
	/*background: #191A3F;*/
	background: #1F2E41;
	/*background: #230608;*/
}
#portfolio .section-heading {
	color: #D8CD81;
}

.skill-box > .skills-circle > ul {
  padding: 0;
  text-align: center;
  list-style-type: none;
}
.skill-box > .skills-circle > ul > li {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
}
.skill-box > .skills-circle > ul > li > span {
  color: #7a7;
}
.skill-box > .skills-circle > ul > li > span.text, .skill-box > .skills-circle > ul > li > span ~ b {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: -8px;
  z-index: 1;
}
.skill-box > .skills-circle > ul > li > span.text ~ b, .skill-box > .skills-circle > ul > li > span ~ b ~ b {
  font-weight: normal;
  margin-top: 8px;
}
.skill-box > .skills-circle > ul > li > span.bar-circle-right, .skill-box > .skills-circle > ul > li > span.bar-circle-left {
  border-radius: 50%;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #B0DAB9;
  clip: rect(0, 75px, 150px, 0);
}
.skill-box > .skills-circle > ul > li > span.bar-circle-left {
  background: #ddd;
}
.skill-box > .skills-circle > ul > li > span.bar-circle-cover {
  display: block;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: #eee;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





/*----------------------------------------------- FORMATIONS / EXPERIENCES */
#about {
	/*background: #F0E6FF;*/
	background: #B0C7D8;
}

.timeline > li .timeline-image {
	width: 100px;
	height: 100px;
	margin-left: -50px;
	border: 3px solid snow;
}

.timeline > li .timeline-image > h4 {
	margin-top: 12px; 
}

.fa-graduation-cap {
	margin-top: 15px;
}
.fa-briefcase {
	margin-top: 15px;
}

.timeline li .timeline-panel:hover {
	background: #eee;
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.timeline li .timeline-panel {
	line-height: 40px;
	margin-right: 100px;
	margin-left: 100px;
	width: 30%;
}

.timeline-heading {
	margin-top: 15px; 
}


/*----------------------------------------------- LOISIRS */
#team {
	/*background: #8F90CB;*/
	/*background: #230608;*/
	background: #2F2C3F;
}

#team .section-heading {
	color: #D8CD81;
}

#loisir {
	color: #FFF4EE;
}

/*-----------------------------------------------  ASIDE DL MON CV */
.dl-cv {
	background: url(../img/montgolfiere.jpg);
	background-size: cover;
	background-position: 30% 30%;
	height: 80px;
}
.dl-cv button {
	margin-top: 5px;
}
.dl-cv button a{
	color: #BC2F47;
}


/*----------------------------------------------- CONTACT*/
section#contact {
	/*background-image: url('../img/contact.jpg');*/
	animation: pulse 4s infinite;
}
	@keyframes pulse {
		0% {
		background-color: #191A3F;
		}
		50% {
		background-color: #302442;
		}
		100% {
		background-color: #191A3F;
		}
	}

/* FORMULAIRE */

section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
  border-radius: 30px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #fed136;
  /*box-shadow: none;*/
}
/*----------------------------------------------- FIN FORMULAIRE */

.timeline-image {
	background: #423E55;
}
