@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Bad+Script|Merienda|Amita|Cormorant+Upright|Lato:100,400|Arima+Madurai|Overlock');

body {
	background: #D0B1B7;
}

html {
	font-size: 65.5%;
}

header {
	background-image: none;
}

/************************************************************* LOADER ************************/
/*.loader {
	position : fixed;
	z-index: 9999;
	background : url('icon-loader.gif') 50% 50% no-repeat;
	top : 0px;
	left : 0px;
	height : 100%;
	width : 100%;
	cursor : wait;
}*/
/************************************************************* FIN DU LOADER *****************/


/************************************************************* PARALLAX **********************/
.parallax-window {
	min-height: 400px;
	background: transparent;
}

.parallax-montgolfiere {
	min-height: 150px;
	background: transparent;
}
/************************************************************* FIN DU PARALLAX ****************/

/************************************************************* NAVBAR *************************/

.navbar-custom .navbar-brand {
	color: #BC2F47;
	font-family: 'Amatic SC', cursive;
	font-size: 3em;
	font-weight: bold;
}

.navbar-custom .navbar-brand:hover {
	color: #FFE1E9;
}

  #header-nav li a{
  	  color: #BC2F47;
  	  font-family: 'Amatic SC', cursive;
  	  text-transform: capitalize;
  	  font-size: 2em;
  }

  #header-nav li a:hover {
  	  color: #FFE1E9;
  }
/************************************************************* FIN NAVBAR *************************/

/************************************************************* TITRE + SOUS-TITRE *****************/
header .intro-text {
	margin-bottom: 30px;
}
header .intro-text .intro-heading {
	font-family: 'Amatic SC', cursive;
	text-transform: capitalize;
	font-size: 6.5em;
font-weight: lighter;
} 
header .intro-text .intro-lead-in {
	font-family: 'Amatic SC', cursive;
	font-style: normal;
	letter-spacing: 5px;
	font-size: 3.2em;
}
	/* MOBILE PORTRAIT & MOBILE PAYSAGE */
	 @media screen and (max-width: 600px) {
	 	header .intro-text .intro-heading{
			font-size: 3.5em;
	 	}

	 	header .intro-text .intro-lead-in {
	 		font-size: 2em;
	 	}
	}
	/* MOBILE PAYSAGE + PETITE TABLETTE PORTRAIT*/
	@media screen and (min-width: 528px){
	 	header .intro-text .intro-heading{
			font-size: 4em;
	 	}

	 	header .intro-text .intro-lead-in {
	 		font-size: 2em;
	 	}
	}
	/* GRANDE TABLETTE PORTRAIT */
	@media screen and (min-width: 768px) {
		header .intro-text .intro-heading {
			font-size: 5em;
		}
		header .intro-text .intro-lead-in {
	 		font-size: 3em;
	 	}
	}
	/* GRANDE TABLETTE PAYSAGE + ORDI */
	@media screen and (min-width: 992px) {
		header .intro-text .intro-heading {
			font-size: 6em;
		}
		header .intro-text .intro-lead-in {
	 		font-size: 3.2em;
	 	}
	}
 
.fa-angle-double-down {
	  margin-top: 120px;
	  color: #C9324C;
}

.section h2 .section-heading {
	margin-top: -37px;
}

.section-heading{
	font-family: 'Amatic SC', cursive;
	letter-spacing: 4px;
}

/************************************************************** ICONES RESEAUX SOCIAUX *************/
.icones {
	margin-top: 130px;
	word-spacing: 15px;
}

.fa-github {
	cursor: pointer;
	color: #000
}
	.fa-github:hover {
		color: snow;
	}

.fa-twitter {
	cursor: pointer;
	color: #1DA1F2;
}
	.fa-twitter:hover {
		color: snow;
	}

.fa-linkedin {
	cursor: pointer;
	color: #0177B5;
}
	.fa-linkedin:hover {
		color: snow;
	}

.fa-instagram {
	cursor: pointer;
	color: #F39848;
}
	.fa-instagram:hover {
		color: snow;
	}
/************************************************************** FIN DES ICONES ********************/

/************************************************************** PROFIL ****************************/
#text-profil p {
	font-family: 'Overlock', serif;
	font-size: 1.3em;
}

#text-profil h4 {
	font-family: 'Overlock', serif;
	font-size: 1.5em;
}


	/* MOBILE PORTRAIT & MOBILE PAYSAGE */
	 @media screen and (max-width: 768px) {
	 	#text-profil .timeline-heading{
			text-align: center;
	 	}
	 	#text-profil .description {
	 		margin-top: 15px;
	 		text-align: center;
	 	}
	}
	

.fa-circle{
	color: #4D3968;
}

#services {
	background: #D0B1B7;
}

.img-profil {
	width: 200px;
	height: 200px;
	margin: 0 auto 20px;
}

.logo-loisir p {
	font-size: 0.8em;
}

.titre-interet {
	margin: 30px 0 40px;
	font-family: 'Amatic SC', serif;
	font-size: 2.5em;
	letter-spacing: 4px;
}

.logo-loisir img {
	margin: 0px 18px;
}
/*----------------------------------------------- COMPETENCES */

#portfolio .container h3:nth-child(2n+1) {
	font-family: 'Overlock', sans-serif;
	text-transform: capitalize;
	color: #D8CD81;
}

#portfolio .container h2 {
	color: #D8CD81;
}

.icon {
  width: 100%;
  height: 100%;
}
.o-progress-circle {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 180px;
}
.o-progress-circle__fill circle {
  fill: none;
  stroke-width: 1px;
  stroke: #53b7ba;
}
.o-progress-circle__fill circle:nth-child(2) {
  animation: load-circle 1s;
  stroke: #ace0e2;
  stroke-dasharray: 100;
}
.o-progress-circle__number {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  margin: auto;
  height: 10rem;
  width: 100%;
  font-family: arial, sans-serif;
  color: rgba(255,0,0,0.5);
  font-size: 3rem;
  text-align: center;
}
.o-progress-circle__number em {
  font-weight: 100;
  font-style: normal;
}
.o-progress-circle--rounded circle:nth-child(2) {
  stroke-linecap: round;
}
@-moz-keyframes load-circle {
  0% {
    stroke-dashoffset: 100;
  }
}
@-webkit-keyframes load-circle {
  0% {
    stroke-dashoffset: 100;
  }
}
@-o-keyframes load-circle {
  0% {
    stroke-dashoffset: 100;
  }
}
@keyframes load-circle {
  0% {
    stroke-dashoffset: 100;
  }
}


/*----------------------------------------------- FORMATIONS / EXPERIENCES */
#about {
	/*background: #F0E6FF;*/
	/*background: #B0C7D8;*/
	background: #D0B1B7;
}

/**** TIMELINE ****/
.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 2px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li .text-muted {
	color: snow;
}

.timeline ul li::after {
  content: url("../img/logos/school.png");
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
/*  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;*/
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #F45B69;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(even) div {
  left: 45px;
}

.timeline ul li:nth-child(even) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}

.timeline ul li:nth-child(odd) div {
  left: -470px;
}

.timeline ul li:nth-child(odd) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

/*.timeline ul li.in-view::after {
  background: #F45B69;
}*/

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 740px) {
  header .text-heading {
    font-size: 10px;
  }
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(odd) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }
  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}

/*----------------------------------------------- PORTFOLIO */

#team {
	background: none;
}

#team .section-heading {
	color: #D8CD81;
}

#loisir {
	color: #FFF4EE;
}

/*-----------------------------------------------  ASIDE DL MON CV */

.dl-cv .button {
	margin: 7px auto;
	width: 270px;
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
}
.dl-cv .button a {
	padding: 20px;
	display: block;
	text-decoration: none;
	color: #BC2F41;
}
.dl-cv .button a:hover {
	text-decoration: none;
	color: snow;
}

.button {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 10px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}
.button:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #f7f7f7;
}
.button:nth-of-type(2):after {
  left: 0;
}
.button:hover {
  cursor: pointer;
}
.button:hover:after {
  width: 100%;
  left: 0;
}


/*----------------------------------------------- CONTACT*/
section#contact {
	animation: pulse 4s infinite;
}
	@keyframes pulse {
		0% {
		background-color: #191A3F;
		}
		50% {
		background-color: #302442;
		}
		100% {
		background-color: #191A3F;
		}
	}

section#contact {
	background: none;
}

/* FORMULAIRE */

section .button {
	width: 250px;
	font-family: 'Lato', sans-serif;
	margin: 0 auto;
}

section .button a {
	color: snow;
	font-size: 1.5em;
	padding: 20px;
	display: block;
	color: #D0B1B7;
}

section .button a:hover {
	text-decoration: none;
	color: #BC2F41;
}

section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
  border-radius: 30px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #fed136;
  /*box-shadow: none;*/
}
/*----------------------------------------------- FIN FORMULAIRE */

.timeline-image {
	background: #423E55;
}
